# Godot editor cache
.godot/

# Import cache
*.import

# macOS
.DS_Store

# Export-Builds (nie committen)
export/
build/
builds/
*.exe
*.pck
*.dmg
*.apk

# Präsentation: nur Doku ins Repo, keine Kursfolien (copyrighted, groß)
Präsentation/*.pdf
